@import "variables";

input[type="text"],
textarea {
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid transparent;
  background: #faf6fe;
  margin: 0.5rem;
}
textarea {
  height: 25rem;
  width: 100%;
  resize: none;
}
form {
  margin: 0 auto;
  input[type="submit"] {
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    margin: 2rem 1rem;
    transition: 1s;
    color: $backgroundNav;
    text-decoration: none;
    border: 2px solid $primary;
    border-radius: 2rem;
    text-align: center;
    background: $primary;
  }

  input[type="submit"]:hover {
    background: #2f0d4f;
  }

  input[type="button"] {
    margin-top: 2rem;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: 1s;
    color: $backgroundNav;
    text-decoration: none;
    border: 2px solid $secondary;
    border-radius: 2rem;
    text-align: center;
    background: $secondary;
  }

  input[type="button"]:hover {
    background: #4f3e0d;
    border: 2px solid $secondary;
  }
}

button {
  margin-top: 2rem;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: 1s;
  color: $backgroundNav;
  text-decoration: none;
  border: 2px solid $primary;
  border-radius: 2rem;
  text-align: center;
  background: $primary;
}

button:hover {
  background: #2f0d4f;
}

.Seeker {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  z-index: -1;

  .seeker-head {
    margin-top: 65px;
    display: flex;
    flex-direction: column;

    .img {
      margin: 0 auto;
      background-color: rgb(random(150), random(150), random(150));
      color: white;
      font-weight: 700;
      width: 6rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
    }

    .key-info {
      align-self: center;
      text-align: center;
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        strong {
          font-weight: 700;
          color: $primary;
        }
      }
    }
  }

  .description {
    margin-top: 15px;
    max-width: 900px;
    width: 80%;

    .bio {
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: capitalize;
      form {
        strong {
          font-weight: 700;
          color: $primary;
        }
      }
    }
    .contact {
      form {
        display: flex;
        justify-content: space-between;
        div {
          display: flex;
          flex-direction: column;
          strong {
            font-weight: 700;
            color: $primary;
          }
        }
        @media (max-width: $tablet) {
          flex-direction: column;
        }
      }
    }
    .interests {
      .add-interest {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        form {
          margin: 0;
          strong {
            font-weight: 700;
            color: $primary;
          }
          input[type="text"] {
            width: 100%;
          }
        }
      }
      div {
        display: flex;
        align-items: center;
        .interest {
          font-size: 3rem;
          margin-right: 2rem;
        }
        button {
          margin: 0;
        }
      }
    }
    .experiences {
      .experience {
        form {
          strong {
            font-weight: 700;
            color: $primary;
          }
        }
      }
    }
    .educations {
      .education {
        form {
          strong {
            font-weight: 700;
            color: $primary;
          }
        }
      }
    }
    .skills {
      .add-skill {
        strong {
          font-weight: 700;
          color: $primary;
        }
        div {
          display: flex;
        }
      }
    }
    .references {
      .reference {
        form {
          strong {
            font-weight: 700;
            color: $primary;
          }
        }
      }
    }
    .social {
      form {
        strong {
          font-weight: 700;
          color: $primary;
        }
      }
    }
    .portfolio {
      form {
        strong {
          font-weight: 700;
          color: $primary;
        }
      }
    }
    .resume {
      form {
        strong {
          font-weight: 700;
          color: $primary;
        }
      }
    }
    .projects {
      .add-project {
        form {
          strong {
            font-weight: 700;
            color: $primary;
          }
          margin: 0;
        }
      }
      div {
        display: flex;
        align-items: center;
        .project {
          font-size: 2.6rem;
          margin-right: 2rem;
          @media (max-width: 400px) {
            font-size: 2rem;
          }
        }
        button {
          margin: 0;
        }
      }
    }
  }
}
