@import "variables";

.signin-main-hub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  h2 {
    font-size: 5rem;
    padding: 1rem;
    text-align: center;
  }
  button {
    cursor: pointer;
    width: 50%;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: 1s;
    color: $backgroundNav;
    text-decoration: none;
    border: 2px solid $primary;
    border-radius: 2rem;
    text-align: center;
    background: $primary;
    @media (max-width: $tablet) {
      width: 75%;
    }
    @media (max-width: $mobile) {
      width: 95%;
    }
  }
  button:hover {
    color: $black;
    background: $secondary;
    border: 2px solid $secondary;
  }
  .signin-input-hub {
    width: 50%;
    .signin-input-hub-sub {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      label {
        margin: 1rem 0;
        font-size: 2rem;
      }
      input,
      textarea {
        width: 100%;
        font-size: 2rem;
        padding: 1rem;
        border: 1px solid transparent;
        background: #faf6fe;
      }
      button {
        cursor: pointer;
        width: 15%;
        font-size: 2rem;
        padding: 1rem;
        transition: 1s;
        color: $backgroundNav;
        text-decoration: none;
        border: 2px solid $primary;
        border-radius: 2rem;
        text-align: center;
        background: $primary;
      }
      button:hover {
        color: $black;
        background: $secondary;
        border: 2px solid $secondary;
      }
    }
    @media (max-width: $tablet) {
      width: 75%;
    }
    @media (max-width: $mobile) {
      width: 95%;
    }
  }
  .signin-main-but {
    width: 50%;
    // border: 1px solid red;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    button {
      cursor: pointer;
      width: 48%;
      font-size: 2rem;
      padding: 1rem;
      margin-bottom: 1rem;
      transition: 1s;
      color: $backgroundNav;
      text-decoration: none;
      border: 2px solid $primary;
      border-radius: 2rem;
      text-align: center;
      background: $primary;
      @media (max-width: $tablet) {
        width: 48%;
      }
    }
    button:hover {
      color: $black;
      background: $secondary;
      border: 2px solid $secondary;
    }
    @media (max-width: $tablet) {
      width: 75%;
    }
    @media (max-width: $mobile) {
      width: 95%;
    }
  }
}
