// Colors
$primary: #AE71E8;
$secondary: #E8CA71;
$offWhite: #E5E5E5;
$black: #000000;
$linkBlue: #007EBB;
$backgroundNav: #FFFFFF;
$lightInput: #FAF6FE;

// Color assignments 
$fontColor: $black;
$buttonPrimary: $primary;
$buttonSecondary: $secondary;
$background: $offWhite;
$link: $linkBlue;


// Mobile
$mobile: 600px;

// Tablet
$tablet: 900px;
