// Colors
$primary: #AE71E8;
$secondary: #E8CA71;
$off-white: #E5E5E5;
$black: #000000;
$link-blue: #007EBB;
$background-nav: #FFFFFF;

// Color assignments 
$font-color: $black;
$button-primary: $primary;
$button-secondary: $secondary;
$background: $off-white;
$link: $link-blue;


// Mobile
$mobile: 600px;

// Tablet
$tablet: 900px;
